## EDA LAB

The General Social Survey (GSS) is a bi-annual nationally representative survey of Americans, with almost 7000 different questions asked since the survey began in the 1970s. It has straightforward questions about respondents' demographic information, but also questions like "Does your job regularly require you to perform repetitive or forceful hand movements or involve awkward postures?" or "How often do the demands of your job interfere with your family life?" There are a variety of controversial questions. No matter what you're curious about, there's something interesting in here to check out. The codebook is 904 pages (use CTRL+F to search it).

The data and codebook are available at:
https://gss.norc.org/us/en/gss/get-the-data.html

The datasets are so large that it might make sense to pick the variables you want, and then download just those variables from:
https://gssdataexplorer.norc.org/variables/vfilter

Here is your task:
1. Download a small (5-15) set of variables of interest.
2. Write a short description of the data you chose, and why. (1 page)
3. Load the data using Pandas. Clean them up for EDA. Do this in a notebook with comments or markdown chunks explaining your choices.
4. Produce some numeric summaries and visualizations. (1-3 pages)
5. Describe your findings in 1-2 pages.
6. If you have other content that you think absolutely must be included, you can include it in an appendix of any length.

For example, you might want to look at how aspects of a person's childhood family are correlated or not with their career or family choices as an adult. Or how political or religious affiliations correlate with drug use or sexual practices. It's an extremely wide-ranging survey.

Feel free to work with other people in groups, and ask questions!

In [4]:
! git clone https://github.com/ds4e/EDA

Cloning into 'EDA'...
remote: Enumerating objects: 76, done.
remote: Counting objects: 100% (31/31), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 76 (delta 17), reused 12 (delta 12), pack-reused 45 (from 2)
Receiving objects: 100% (76/76), 26.04 MiB | 21.77 MiB/s, done.
Resolving deltas: 100% (22/22), done.

In [9]:
import pandas as pd
#
var_list = ['year','educ','age','sex','agekdbrn','wrkstat','hrs1',
            'prestg10','marital','cowrksta','sppres10',
            'earnrs','income'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to
#
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode
#
for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    print(df.head()) # Visually inspect the first few rows
    if phase == 0 :
        df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                                mode='w', # control write versus append
                                header=var_list, # variable names
                                index=False) # no row index saved
        phase = 1 # Switch from write mode to append mode
    elif phase == 1 :
        df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                                mode='a', # control write versus append
                                header=None, # variable names
                                index=False) # no row index saved
        phase = 1 # Switch from write mode to append mode

https://github.com/DS3001/project_gss/raw/main/gss_chunk_1.parquet
   year  id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1972   1  working full time   NaN   NaN    NaN  205.0      50.0
1  1972   2            retired   NaN   NaN    yes  441.0      45.0
2  1972   3  working part time   NaN   NaN    NaN  270.0      44.0
3  1972   4  working full time   NaN   NaN    NaN    1.0      57.0
4  1972   5      keeping house   NaN   NaN    yes  385.0      40.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next wtsscomp wtsscompnr
0           NaN          NaN           NaN   0.4446        NaN
1           NaN          NaN           NaN   0.8893        NaN
2           NaN          NaN           NaN   0.8893        NaN
3           NaN          NaN           NaN   0.8893        NaN
4           NaN          NaN           NaN   0.8893        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_2.parquet
   year   id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1989  775            retired   NaN   NaN    yes  540.0      36.0
1  1989  776  working full time  40.0   NaN    NaN  925.0      36.0
2  1989  777            retired   NaN   NaN    yes   80.0      61.0
3  1989  778  working full time  44.0   NaN    NaN  912.0      26.0
4  1989  779            retired   NaN   NaN    yes  690.0      32.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0           NaN          NaN           NaN  1.295069        NaN
1           NaN          NaN           NaN  0.483624        NaN
2           NaN          NaN           NaN  0.407988        NaN
3           NaN          NaN           NaN  1.225988        NaN
4           NaN          NaN           NaN  0.504302        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_3.parquet
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]

In [10]:
new_df = pd.read_csv('selected_gss_data.csv')
new_df.head(30)

,year,educ,age,sex,agekdbrn,wrkstat,hrs1,prestg10,marital,cowrksta,sppres10,earnrs,income
0,1972,16.0,23.0,female,NaN,working full time,NaN,45.0,never married,NaN,NaN,1.0,NaN
1,1972,10.0,70.0,male,NaN,retired,NaN,50.0,married,NaN,NaN,0.0,NaN
2,1972,12.0,48.0,female,NaN,working part time,NaN,49.0,married,NaN,41.0,2.0,NaN
3,1972,17.0,27.0,female,NaN,working full time,NaN,60.0,married,NaN,39.0,2.0,NaN
4,1972,12.0,61.0,female,NaN,keeping house,NaN,31.0,married,NaN,38.0,1.0,NaN
5,1972,14.0,26.0,male,NaN,working full time,NaN,45.0,never married,NaN,NaN,1.0,NaN
6,1972,13.0,28.0,male,NaN,working full time,NaN,43.0,divorced,NaN,NaN,1.0,NaN
7,1972,16.0,27.0,male,NaN,working full time,NaN,33.0,never married,NaN,NaN,1.0,NaN
8,1972,12.0,21.0,female,NaN,working part time,NaN,33.0,never married,NaN,NaN,1.0,NaN
9,1972,12.0,30.0,female,NaN,working full time,NaN,25.0,married,NaN,25.0,2.0,NaN
10,1972,13.0,30.0,female,NaN,keeping house,NaN,31.0,married,NaN,32.0,1.0,NaN
11,1972,6.0,56.0,male,NaN,working full time,NaN,29.0,married,NaN,25.0,2.0,NaN
12,1972,9.0,54.0,male,NaN,working full time,NaN,29.0,married,NaN,25.0,2.0,NaN
13,1972,8.0,49.0,female,NaN,working full time,NaN,33.0,divorced,NaN,NaN,3.0,NaN
14,1972,9.0,41.0,male,NaN,working full time,NaN,25.0,married,NaN,69.0,2.0,NaN
15,1972,14.0,54.0,male,NaN,working full time,NaN,29.0,married,NaN,36.0,2.0,NaN
16,1972,14.0,24.0,male,NaN,in school,NaN,43.0,married,NaN,31.0,1.0,NaN
17,1972,8.0,62.0,female,NaN,keeping house,NaN,51.0,married,NaN,34.0,1.0,NaN
18,1972,17.0,46.0,female,NaN,working full time,NaN,64.0,married,NaN,NaN,4.0,NaN
19,1972,14.0,21.0,female,NaN,in school,NaN,NaN,never married,NaN,NaN,4.0,NaN
20,1972,12.0,57.0,male,NaN,working full time,NaN,53.0,married,NaN,61.0,2.0,NaN
21,1972,11.0,58.0,male,NaN,working full time,NaN,59.0,married,NaN,NaN,1.0,NaN
22,1972,13.0,21.0,male,NaN,working full time,NaN,35.0,married,NaN,47.0,2.0,NaN
23,1972,12.0,26.0,female,NaN,keeping house,NaN,47.0,married,NaN,31.0,2.0,NaN
24,1972,16.0,71.0,female,NaN,keeping house,NaN,61.0,married,NaN,46.0,2.0,NaN
25,1972,12.0,53.0,female,NaN,working full time,NaN,22.0,married,NaN,36.0,2.0,NaN
26,1972,12.0,42.0,male,NaN,working full time,NaN,31.0,married,NaN,47.0,3.0,NaN
27,1972,12.0,42.0,female,NaN,working full time,NaN,39.0,married,NaN,NaN,2.0,NaN
28,1972,12.0,20.0,male,NaN,working full time,NaN,24.0,married,NaN,31.0,2.0,NaN
29,1972,9.0,23.0,male,NaN,working full time,NaN,38.0,married,NaN,48.0,2.0,NaN

In [12]:
cleaned_df = new_df.dropna()
cleaned_df.head(30)
#cleaned the data by dropping all the NaN values

,year,educ,age,sex,agekdbrn,wrkstat,hrs1,prestg10,marital,cowrksta,sppres10,earnrs,income
62476,2018,19.0,59.0,male,30.0,working full time,40.0,72.0,divorced,working full time,24.0,1.0,"$25,000 or more"
62541,2018,14.0,33.0,female,25.0,working full time,32.0,32.0,never married,working full time,40.0,4.0,"$25,000 or more"
62548,2018,12.0,37.0,female,22.0,working full time,40.0,51.0,divorced,working full time,38.0,3.0,"$25,000 or more"
62550,2018,12.0,70.0,male,25.0,working part time,20.0,35.0,separated,keeping house,35.0,1.0,"$25,000 or more"
62595,2018,18.0,39.0,female,32.0,working full time,40.0,67.0,never married,"unemployed, laid off, looking for work",58.0,2.0,"$25,000 or more"
62691,2018,15.0,29.0,female,25.0,working part time,30.0,33.0,never married,working full time,38.0,2.0,"$25,000 or more"
62695,2018,12.0,24.0,female,19.0,working part time,25.0,21.0,never married,working full time,35.0,2.0,"$25,000 or more"
62702,2018,10.0,62.0,female,17.0,working full time,40.0,25.0,widowed,retired,80.0,1.0,"$25,000 or more"
62712,2018,12.0,29.0,male,24.0,working full time,40.0,24.0,never married,working full time,47.0,3.0,"$25,000 or more"
62722,2018,12.0,36.0,male,28.0,working full time,48.0,50.0,never married,working full time,52.0,4.0,"$25,000 or more"
62732,2018,16.0,58.0,male,41.0,working full time,42.0,46.0,separated,working full time,38.0,2.0,"$25,000 or more"
62753,2018,15.0,39.0,female,37.0,working full time,40.0,46.0,never married,working full time,53.0,1.0,"$25,000 or more"
62756,2018,17.0,59.0,male,34.0,working full time,45.0,53.0,divorced,working part time,51.0,2.0,"$25,000 or more"
62771,2018,12.0,34.0,male,31.0,working full time,60.0,73.0,separated,keeping house,25.0,1.0,"$25,000 or more"
62824,2018,14.0,52.0,male,36.0,working full time,60.0,72.0,never married,keeping house,38.0,1.0,"$25,000 or more"
62888,2018,12.0,47.0,male,17.0,working full time,41.0,35.0,divorced,working part time,25.0,1.0,"$25,000 or more"
62916,2018,12.0,46.0,male,18.0,working full time,40.0,35.0,never married,working full time,49.0,3.0,"$25,000 or more"
62929,2018,16.0,32.0,male,28.0,working full time,37.0,28.0,never married,working full time,55.0,2.0,"$25,000 or more"
62952,2018,16.0,44.0,female,15.0,working part time,20.0,25.0,never married,working full time,35.0,2.0,"$25,000 or more"
62961,2018,11.0,35.0,female,18.0,working full time,44.0,39.0,never married,working part time,35.0,2.0,"$15,000 to $19,999"
62962,2018,13.0,33.0,female,19.0,working full time,35.0,22.0,never married,working full time,31.0,2.0,"$25,000 or more"
63006,2018,17.0,49.0,female,31.0,working full time,55.0,75.0,divorced,keeping house,33.0,4.0,"$25,000 or more"
63010,2018,17.0,35.0,female,19.0,working part time,30.0,64.0,divorced,working full time,49.0,2.0,"$25,000 or more"
63043,2018,14.0,38.0,male,37.0,working full time,40.0,24.0,separated,working full time,48.0,1.0,"$15,000 to $19,999"
63054,2018,18.0,48.0,female,21.0,working full time,40.0,45.0,divorced,working full time,42.0,2.0,"$25,000 or more"
63104,2018,13.0,42.0,female,21.0,working full time,36.0,50.0,never married,working full time,25.0,1.0,"$25,000 or more"
63125,2018,14.0,51.0,male,26.0,working full time,30.0,50.0,divorced,working part time,32.0,2.0,"$25,000 or more"
63164,2018,16.0,40.0,female,19.0,working part time,20.0,60.0,divorced,working full time,35.0,2.0,"$25,000 or more"
63217,2018,15.0,47.0,male,26.0,working full time,48.0,60.0,divorced,working full time,64.0,1.0,"$25,000 or more"
63230,2018,15.0,44.0,male,27.0,working full time,40.0,26.0,widowed,keeping house,52.0,1.0,"$25,000 or more"

<ipython-input-13-aa31911b2ece>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['age'] = pd.to_numeric(cleaned_df['age'], errors='coerce')  # Ensured age is numeric, coerce invalid values to NaN
<ipython-input-13-aa31911b2ece>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['income'] = pd.to_numeric(cleaned_df['income'], errors='coerce')  # Ensured income is numeric
<ipython-input-13-aa31911b2ece>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['earnrs'] = pd.to_numeric(cleaned_df['earnrs'], errors='coerce')  # Ensured earnings are numeric
<ipython-input-13-aa31911b2ece>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['hrs1'] = pd.to_numeric(cleaned_df['hrs1'], errors='coerce')  # Ensured hours worked per week is numeric
<ipython-input-13-aa31911b2ece>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['sex'] = cleaned_df['sex'].str.strip().str.lower()  # Standardized 'sex' to lowercase
<ipython-input-13-aa31911b2ece>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['marital'] = cleaned_df['marital'].str.strip().str.lower()  # Standardized 'marital' status
<ipython-input-13-aa31911b2ece>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['wrkstat'] = cleaned_df['wrkstat'].str.strip().str.lower()  # Standardized work status
<ipython-input-13-aa31911b2ece>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['cowrksta'] = cleaned_df['cowrksta'].str.strip().str.lower()  # Standardized coworker status

The variables I chose from the General Social Survey (GSS) offer a broad look at how different aspects of lifeeducation, work, income, and familyare connected. By including year, I can track changes over time and see how peoples experiences have evolved. Education (educ) is important because it often shapes job opportunities, income, and overall social status. Age helps show how different stages of life impact work, family, and financial stability.

Sex is useful for understanding gender differences in education, work, and income. Age at first birth (agekdbrn) gives insight into how starting a family early or later in life might affect career and financial situations. Work status (wrkstat) and hours worked per week (hrs1) help analyze employment trends and work-life balance, especially when compared with income and prestige of occupation (prestg10), which can reveal patterns in social class and job satisfaction.

Family life also plays a role in shaping these outcomes. Marital status (marital) can affect work and income, while co-worker status (cowrksta) might show how social interactions at work impact job satisfaction. Social presence (sppres10) could indicate how connected people feel in their communities, and earnings (earnrs) and income provide key measures of financial well-being.

By making graphics of these variables and the ways they interact with each other, I think it will be revealing of broader trends in American society. That is the hope at least!